<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Bigex</title>
    <link rel="icon" href="./client/images/icon.png" type="image/gif" sizes="16x16">
    <!-- main css-->
    <link rel="stylesheet" href="client/css/bootstrap.min.css">
    <link rel="stylesheet" href="client/css/fontawesome.min.css">
    <link rel="stylesheet" href="client/css/hover-min.css">
    <link rel="stylesheet" href="client/css/style.css">
  </head>
  <body>
    <div id="app">
    </div>
    <!-- main js-->
    <script src="client/js/all.min.js"></script>
    <script src="client/js/jquery.min.js"></script>
    <script src="client/js/moment.js"></script>
    <script src="client/js/popper.min.js"></script>
    <script src="client/js/bootstrap.min.js"></script>
    <script src="client/js/main.js"></script>
    <script>
      $(function () {
          if ($(window).width() > 769) {
              $('.menu .dropdown > a').click(function () {
                  location.href = this.href;
              });
          }
      })
    </script>
  </body>
</html>