<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Bigex</title>
    <link rel="icon" href="./client/images/icon.png" type="image/gif" sizes="16x16">
    <!-- main css-->
    <link rel="stylesheet" href="client/css/bootstrap.min.css">
    <link rel="stylesheet" href="client/css/fontawesome.min.css">
    <link rel="stylesheet" href="client/css/hover-min.css">
    <link rel="stylesheet" href="client/css/style.css">
  </head>
  <body>
    <div id="app">
      <div class="bg-full"> 
        <header class="mb-5">
          <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container"><a class="navbar-brand" href="#"> <img src="client/images/logo.svg" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><img src="client/images/4-1-menu.svg" alt=""></button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item"><a class="nav-link position-relative active" aria-current="page" href="index.html">Dashboard</a></li>
                  <li class="nav-item"><a class="nav-link position-relative" href="wallet.html">Wallet</a></li>
                  <li class="nav-item"><a class="nav-link position-relative" href="comission.html">Comission</a></li>
                  <li class="nav-item"><a class="nav-link position-relative" href="copy-trade.html">Copy trade</a></li>
                  <li class="nav-item"><a class="nav-link position-relative" href="presale.html">Presale</a></li>
                  <li class="nav-item"><a class="nav-link position-relative" href="account.html">Account</a></li>
                </ul>
                <div class="action-right d-flex align-items-center">
                  <div class="item-icon-login d-flex align-items-center"><a data-bs-toggle="modal" data-bs-target="#languageModal"><img src="client/images/2-flag-en.svg" alt=""></a><a href="#"><img src="client/images/2-2-login.svg" alt=""></a></div>
                  <div class="item-user"> <a href="login.html"><img src="client/images/2-1-user-avatar-filled.svg" alt=""></a></div>
                </div>
              </div>
            </div>
          </nav>
          <!-- Modal-->
          <div class="modal modal-custom-main fade" id="languageModal" tabindex="-1" aria-labelledby="languageModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-body">
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"><img src="client/images/close.svg" alt=""></button>
                  <div class="title-lg text-center mb-4">
                    <h3>Change Language</h3>
                  </div>
                  <div class="list-language"> 
                    <div class="row">
                      <div class="col-4"> 
                        <div class="item-language mb-3"><a class="d-flex align-items-center" href=""> 
                            <div class="icon"><img src="client/images/2-flag-en.svg" alt=""></div>
                            <div class="text">English</div></a></div>
                      </div>
                      <div class="col-4"> 
                        <div class="item-language mb-3"><a class="d-flex align-items-center" href=""> 
                            <div class="icon"><img src="client/images/2-flag-en.svg" alt=""></div>
                            <div class="text">English</div></a></div>
                      </div>
                      <div class="col-4"> 
                        <div class="item-language mb-3"><a class="d-flex align-items-center" href=""> 
                            <div class="icon"><img src="client/images/2-flag-en.svg" alt=""></div>
                            <div class="text">English</div></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
        <button class="hvr-float" id="backtop" onclick="backtotop()" title="Go to top"><img src="client/images/4-3-top.svg" alt=""></button>
      </div>
    </div>
    <!-- main js-->
    <script src="client/js/all.min.js"></script>
    <script src="client/js/jquery.min.js"></script>
    <script src="client/js/moment.js"></script>
    <script src="client/js/popper.min.js"></script>
    <script src="client/js/bootstrap.min.js"></script>
    <script src="client/js/main.js"></script>
    <script>
      $(function () {
          if ($(window).width() > 769) {
              $('.menu .dropdown > a').click(function () {
                  location.href = this.href;
              });
          }
      })
    </script>
  </body>
</html>