extends _layouts/master

block content
    .page-wrapper
        .container
            .row
                .col-md-12 
                    .title-page.mb-4
                        h1 Account
                    .block-list-trade   
                        .row
                            .col-md-4
                                .item-trade.mb-4
                                    .title.text-center.mb-4
                                        h3 Mid
                                    .banner.text-center.mb-4
                                        img.d-block.m-auto(src="client/images/5-1.svg", alt="")
                                    .content.mb-4 
                                        .item-sm.mb-2 Plan included
                                        .row
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Expected Profit
                                                    .desc-sm 12% / month
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Fee active
                                                    .desc-sm $0
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Trading Capital
                                                    .desc-sm $500.00
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Duration
                                                    .desc-sm 90 days
                                    .link-bottom.text-center
                                        a.btn.btn-gradient-green(href="#") Active
                            .col-md-4
                                .item-trade.mb-4
                                    .title.text-center.mb-4
                                        h3 Starter
                                    .banner.text-center.mb-4
                                        img.d-block.m-auto(src="client/images/5-1.svg", alt="")
                                    .content.mb-4 
                                        .item-sm.mb-2 Plan included
                                        .row
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Expected Profit
                                                    .desc-sm 12% / month
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Fee active
                                                    .desc-sm $0
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Trading Capital
                                                    .desc-sm $1,500.00
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Duration
                                                    .desc-sm 90 days
                                    .link-bottom.text-center
                                        a.btn.btn-gradient-green(href="#") Active
                            .col-md-4
                                .item-trade.mb-4
                                    .title.text-center.mb-4
                                        h3 Basic
                                    .banner.text-center.mb-4
                                        img.d-block.m-auto(src="client/images/5-1.svg", alt="")
                                    .content.mb-4 
                                        .item-sm.mb-2 Plan included
                                        .row
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Expected Profit
                                                    .desc-sm 12% / month
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Fee active
                                                    .desc-sm $0
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Trading Capital
                                                    .desc-sm $3,500.00
                                            .col-sm-6 
                                                .item-sm 
                                                    .title-sm Duration
                                                    .desc-sm 90 days
                                    .link-bottom.text-center
                                        a.btn.btn-gradient-green(href="#") Active